$MYPORT: "http://localhost:3000/";
.game-background {
  background: url($MYPORT + "/img/coupons/gamebackground.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 350vh;
  align-items: center;
  z-index: -1;
}
//文字特效:玩遊戲，拿獎勵
.game-text1 {
  justify-content: center;
  position: relative;
  font-size: 35px;
  color: #f8060600;
  text-align: center;
  font-weight: bold;
  padding-top: 180px;
  // outline: 2px solid black;
  margin: 0 auto;
  -webkit-text-stroke: 0.0001px #cfcfd100;
  text-transform: uppercase;
}
.game-text1::before {
  content: attr(text);
  position: absolute;
  padding-top: 180px;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #fe523a;
  -webkit-text-stroke: 0px #c6c6c7;
  border-right: 2px solid #fe523a;
  overflow: hidden;
  animation: animate-text 6s linear infinite;
}
@keyframes animate-text {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
//寶相動畫
.treasure-img {
  // outline: 2px solid black;
  justify-content: center;
  margin-top: 200px;
  animation: treasure-ant 2s infinite linear;
  animation-duration: 1500ms;
}
@keyframes treasure-ant {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
//遊戲按鈕
.game-btn {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
//遊戲流程
.game-step {
  margin-top: 90px;
  // outline: 2px solid black;
  font-weight: bold;
  font-size: 35px;
  color: #fe523a;
}
//遊戲流程-圖片
.step-img {
  margin-top: 40px;
}
.img-circle {
  border-radius: 50%;
  background-color: rgb(250, 248, 248);
  width: 150px;
  height: 150px;
  overflow: hidden;
}
//遊戲流程-文字
.step-text {
  margin-top: 30px;
  font-size: 29px;
  color: #707070;
}
//遊戲規則
.rule {
  width: 600px;
  height: 600px;
  background-color: #fff;
  margin-top: 70px;
  text-align: center;
  outline: black 2px solid;
}
.rule-title {
  font-size: 35px;
  color: #fe523a;
  font-weight: bold;
  margin-top: 25px;
}
//控制規則和標題的margin
.rule-text-fram {
  margin-top: 80px;
  // outline: black 2px solid;
}
.rule-text {
  margin-top: 40px;
  font-size: 29px;
}
//規則強調
.rule-text span {
  color: #fe523a;
  font-size: 36px;
}
//活動辦法
.act-fram {
  // outline: black 2px solid;
  margin-top: 60px;
}
.act {
  width: 800px;
  height: 500px;
  background-color: #fff;
  // text-align: center;
}
.act-title {
  font-size: 35px;
  color: #fe523a;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
}
.act-text-fram {
  margin-top: 60px;
}
.act-text {
  margin-top: 15px;
  font-size: 29px;
  margin-left: 150px;
  // outline: solid 2px black;
}
.act-text span {
  color: #fe523a;
  font-size: 36px;
}
@media (max-width: 992px) {
  .act-text {
    margin-left: 0;
  }
}
@media (min-width: 375px) {
  .game-background {
    height: 350vh;
  }
  .rule {
    height: 650px;
  }
  .act {
    height: 650px;
  }
}
@media (max-width: 500px) {
  .img-circle {
    display: none;
  }
  .game-step {
    display: block;
  }
}
